
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	bottom:0;
	background-color:#78cfcf; 
	z-index:999999;
}
.sk-spinner-wave.sk-spinner {
  margin:-15px 0 0 -25px; 
  position:absolute;
  left:50%; 
  top:50%;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
 }
.sk-spinner-wave div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
   animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-spinner-wave .sk-rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.sk-spinner-wave .sk-rect3 {-webkit-animation-delay: -1s;animation-delay: -1s;}
.sk-spinner-wave .sk-rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.sk-spinner-wave .sk-rect5 { -webkit-animation-delay: -0.8s;animation-delay: -0.8s;}

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4);}
  20% { -webkit-transform: scaleY(1);transform: scaleY(1);}
}
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4);}
  20% { -webkit-transform: scaleY(1);transform: scaleY(1);}
}

/* 3.2 Parallax bg */
.parallax-window {
    min-height: 470px;
	background:transparent;
	position:relative;
}
.parallax-window#home {
    min-height: 550px;
}
.parallax-window#short {
    height: 350px;
	min-height:inherit;
}
.parallax-content{
	color:#fff;
	text-align:center;
	display: table;
    width:100%;
    height:470px;
}
.parallax-content .sub_content{
	 display: table-cell;
  	padding:0 15%;
   vertical-align: middle;
	text-align:center;
	font-size:16px;
}
.parallax-content .sub_content h3{
	margin:0 0 10px 0;
	font-size:60px;
	font-weight:300;
	color:#fff;
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.parallax-content .sub_content i{
	font-size:60px;
}
.parallax-window-2 {
	height:auto;
/*  	background: url(/src/images/img/bg_office.jpg) no-repeat center center;
 */ 	background-attachment:fixed;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position:relative;
}
.parallax-content-2 {
    display: table;
   width:100%;
  height:auto;
}
.parallax-content-2 > div{
  display: table-cell;
  padding:10% 15%;
   vertical-align: middle;
	text-align:center;
	color:#fff;
	font-size:16px;
}
.parallax-content-2 div h3{
	margin:0 0 10px 0;
	font-size:60px;
	font-weight:300;
	color:#fff;
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.parallax-content-2 div p{
	margin-bottom:0;
}
.parallax-content-2 div i{
	font-size:60px;
}
/* 3.3 Position  breadcrumbs */
#position {
	background-color:#fff;
	border-bottom:1px solid #ededed;
	padding:10px 0;
	font-size:11px;
}
#position ul li:first-child{
	padding-left:20px;
}
#position ul li:first-child:before{
	content:"\eaf4";
	font-style: normal;
  	font-weight: normal;
  	font-family: "fontello";
  	position:absolute;
  	left:0;
 	 top:1px;
  	color:#999;
}
#position ul{
	margin:0;
	padding:0;
	color:#888;
}
#position ul li a{
	color:#252525;
	opacity:0.7;
}
#position ul li a:hover{
	color:#252525;
	opacity:1;
}
#position ul li{
	display:inline-block;
	padding-right:8px;
	margin-right:3px;
	position:relative;
}
#position ul li:after{
	content:"\e9ee";
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	position:absolute;
	right:0;
	top:1px;
}
#position ul li:last-child:after{
	content:'';
}
.margin_fix {
	margin-top:60px;
}

/*3.4 Login/Register modals*/
#message-review .error_message{
	color:#FF9;
	position:relative;
	top:-30px;
}
.form-control.form-white {
	color: #fff;
	font-size: 16px;
	height:42px;
	position: relative;
	border-radius: 0;
	border: 1px solid white;
	line-height:42px;
	background: transparent;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	box-shadow: 0;
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;   
}
select.form-control.form-white{
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;   
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   box-shadow:0;
   border-radius: 0;
   height:42px;
   line-height:28px;
}
.modal-dialog #review .form-control.form-white{
	margin-bottom:0;
}
.form-control.form-white::-webkit-input-placeholder {
	color: #fff;
}
.form-control.form-white:-moz-placeholder {
	opacity: 1;
	color: #fff;
}
.form-control.form-white::-moz-placeholder {
	opacity: 1;
	color: #fff;
}
.form-control.form-white:-ms-input-placeholder {
	color: #fff;
}
.form-control.form-white:focus {
	background: rgba(255,255,255,0.2);
	 -webkit-box-shadow: none;
 	 box-shadow: none;
}
.login_icon {
	color:#fff;
	font-size:60px;
	opacity:0.5;
}
.modal-backdrop {
	z-index:999999;
}
.modal {
	padding: 0 25px !important;
	z-index:9999999;
}
.modal-dialog {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
}
.modal-dialog #review {
	width: 100%;
	max-width: 650px;
}
.modal-popup {
	position: relative;
	padding:1px 30px 10px 30px;
	text-align: center;
	background: #78cfcf;
	border-radius: 0px;
	border:none;
}
.modal-popup a{
	color:#fff;
}
.modal-popup a:hover{
	color:#fff;
	text-decoration:underline;
}
.modal-popup a.close-link {
	font-size: 22px;
	position: absolute;
	top: 20px;
	right: 30px;
	color: #fff;
}
.modal-popup a.close-link:hover {
	color: #333;
	text-decoration:none;
}
.popup-form {
	width: 90%;
	max-width: 375px;
	margin: 60px auto;
}
.popup-form .form-control {
	margin: 20px 0;
}
.checkbox-holder {
	white-space: nowrap;
}
.checkbox {
	position: relative;
	display: block;
}
.checkbox {
	position: relative;
}
.checkbox label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 2px solid white;
	background: transparent;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.checkbox input[type=checkbox]:focus + label:before {
	background: rgba(255,255,255,0.2);
}
.checkbox label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	opacity: 0;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.checkbox input[type=checkbox] {
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}
.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox-holder span {
	position: absolute;
	left: 30px;
	top:2px;
	display: inline-block;
	margin: 0;
	white-space: normal;
	color: #fff;
}
.btn.btn-submit {
	width: 100%;
	margin-top: 30px;
	color: #85c99d;
	padding:10px;
	background: #fff;
	font-weight:600;
	outline:none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size:16px;
}
.btn.btn-submit:focus {
	outline:none;
}
.btn.btn-submit:hover {
	color: #fff;
	background: #444;
}

/*3.5 Spacing*/
.add_bottom_15 {margin-bottom:15px;}
.add_bottom_30 {margin-bottom:30px;}
.add_bottom_45 {margin-bottom:45px;}
.add_bottom_60 {margin-bottom:60px;}
.add_bottom_75 {margin-bottom:75px;}
.add_top_20 {padding-top:20px;}
.add_top_60 {padding-top:60px;}
.margin_60 {padding-top:60px; padding-bottom:60px;}
.margin_60_35 {padding-top:60px; padding-bottom:35px;}
.margin_30 {margin-top:30px; margin-bottom:30px;}
.nomargin_top {margin-top:0;}
.nopadding {margin: 0 !important;padding: 0 !important;}
.nomargin {margin: 0 !important;}


/* 3.6 Map */
.marker_info {
    width: 250px;
    height: 280px;
	padding:20px;
    border-radius: 3px;
	text-align:center;
	background: #FFF;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 9999999;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.marker_info img {
    display: block;
	margin:auto;
}
.marker_info h3 {
	font-size:16px;
	line-height:18px;
	text-transform:uppercase;
	margin-bottom:3px;
}
.marker_info em {
	margin-bottom:10px;
	display:inline-block;
	font-size:13px;
	color:#999;
}
.marker_info span {
    display: block;
    padding: 0;
    font-size: 12px;
	line-height:16px;
	color:#555;
	margin-bottom:15px;
}
.marker_info:after{
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(255, 255, 255, 0.9);
	border-width: 10px;
	margin-top: -10px;
}

/* 3.7 Password strength */   
#pass-info{
	width: 100%;
	margin-bottom:15px;
	color: #829CBD;
	text-align: center;
	font: 12px/25px Arial, Helvetica, sans-serif;
}
#pass-info.weakpass{
	border: 1px solid #FF9191;
	background: #FFC7C7;
	color: #94546E;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.stillweakpass {
	border: 1px solid #FBB;
	background: #FDD;
	color: #945870;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.goodpass {
	border: 1px solid #C4EEC8;
	background: #E4FFE4;
	color: #51926E;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.strongpass {
	border: 1px solid #6ED66E;
	background: #79F079;
	color: #348F34;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.vrystrongpass {
	border: 1px solid #379137;
	background: #48B448;
	color: #CDFFCD;
	text-shadow: 1px 1px 1px #296429;
}

/* 3.8 Input form style */   
.loader { margin-left:5px; position:absolute;}
.error_message { color:#F33; font-weight:600; margin-bottom:4px;}
.form-control {
  color: #333;
  height:40px;
  border-radius: 3px;
  box-shadow:none;
  border:1px solid #ddd;
  box-shadow: none;
  font-size: 13px;
}
.form-group {
	margin-bottom:20px;
}
footer .form-group {
	margin-bottom:15px;
}
.payment_select{
	background-color:#f0f0f0;
	padding:15px 15px 10px 15px;
	margin-bottom:20px;
	border-radius: 3px;
}
.payment_select label{
	font-size:16px;
}
.payment_select i{
	float:right;
	font-size:24px;
}
/*.payment_select#paypal{
 	background:#f0f0f0 url(/src/images/img/paypal.svg) center right no-repeat;
 }*/

/*3.9 Collapse*/   
.panel {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow:none;
  border-color:#ededed;
  background-color: #fff;
  margin-bottom: 5px;
}
.panel-title {margin: 0;}
.panel-title a {display:block; color:#444; font-size: 16px;}
.panel-default > .panel-heading {
  background-color: #fff;
  padding:20px;
  border-bottom:1px solid #ddd;
}
.panel-heading {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-group .panel {
  border-radius: 3px;
}
.panel-body {
	padding:30px;
	line-height:1.6 !important;
}
.panel-title a .indicator{
	color:#ec008c;
}
.panel-title a:hover .indicator{
	color:#333;
}

/*3.10 Tabs*/   
.tab-content{
	padding:30px; 
	background-color:#fff; 
	border:1px solid #ddd; 
	border-top:none; 
	margin-bottom:25px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
/*3.11 Tooltips*/   
.tooltip_styled {
	display: inline;
	position: relative;
	z-index: 999;
}
.tooltip-item {
	cursor: pointer;
	display: inline-block;
}
.tooltip-item::after {
	content: '';
	position: absolute;
	width: 180px;
	height: 20px;
	bottom: 100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.tooltip_styled:hover .tooltip-item::after {
	pointer-events: auto;
}
.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 180px;
	left: 50%;
	margin: 0 0 20px -90px;
	bottom: 100%;
	text-align: left;
	line-height:1.2;
	display: block;
	padding: 15px;
	font-size:13px;
	text-align:center;
	font-weight:600;
	color: #fff;
	box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
	background: #333;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}
.tooltip-effect-1 .tooltip-content {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-2 .tooltip-content {
	-webkit-transform-origin: 50% calc(100% + 10px);
	transform-origin: 50% calc(100% + 10px);
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,45deg);
	transform: perspective(1000px) rotate3d(1,0,0,45deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}
.tooltip-effect-3 .tooltip-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
	transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-4 .tooltip-content {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale3d(0.7,0.3,1);
	transform: scale3d(0.7,0.3,1);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}
.tooltip_styled:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}
.tooltip_styled.tooltip-effect-2:hover .tooltip-content {
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
	transform: perspective(1000px) rotate3d(1,0,0,0deg);
}
.tooltip-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #333;
	border-width: 10px;
	margin-left: -10px;
}
.tooltip-content .label {
	margin-left:10px;
}
.tooltip-content i{
	font-size:20px !important;
	top:3px !important;
	left:-3px !important;
	position:relative;
}
.tooltip-content h4 {
	display:block;
	margin: 0 0 10px 0;
	line-height:14px;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
}
.tooltip-content a {
	font-weight: bold;
}

/*3.12 Blockquote*/
blockquote.styled {
	font-family:Georgia, "Times New Roman", Times, serif;
}

.white_bg{
	background-color:#fff;
}
