
.agregar_nuevo_item {
  text-align: center;
  margin-bottom: 25px;

}
.agregar_nuevo_item button {
  font-size: 50px;
  color: #85c99d;
  display: inline-block;
  background: none;
  border: none;
}
.agregar_nuevo_item p {
  color: #85c99d;
  font-size: 1em;
}
